.footer-overall {
  display: flex;
  background-color: #feb06a;
  flex-direction: row-reverse;
  align-items: end;
  margin-top: 2em;
  padding: 1em;

}

.footer-overall img {
  width: 5%;
  height: 20%;
}

.footer-overall p {
  color: black;
}

@media screen and (min-width: 500px) {
  .footer-overall {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
