ul.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #feb06a;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
}
ul h2 {
  color: white;
  text-align: center;
  font-size: 2em;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul.navbar li {
  list-style: none;
  padding: 0.5rem 1rem;
}

ul.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

ul.navbar li:has(a.active) {
  color: white;
  background-color: antiquewhite;
}

@media screen and (min-width: 501px) {
}
