.login {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 3em;
  margin-top: 15px;
}

.sign-continue {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 10px;
}

.login .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .name {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  gap: 0.4em;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  align-items: flex-start;
}

.login #email {
  border: solid #717574;
  border-radius: 16px;
  height: 3em;
  width: 17em;
  background-color: #717574;
  color: white;
  padding-left: 15px;
}

.login #email::placeholder {
  color: #f6f4f6;
  padding-left: 15px;
  font-size: large;
}

.login .password {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  gap: 0.4em;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  align-items: flex-start;
}

.login #password {
  border: solid #717574;
  border-radius: 16px;
  height: 3em;
  width: 17em;
  background-color: #717574;
  color: white;
  padding: 15px;
}

.login #password::placeholder {
  color: #f6f4f6;
  padding-left: 15px;
  font-size: large;
}

.login .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.log-in {
  font-family: Arial, Helvetica, sans-serif;
  border: solid #feb06a;
  border-radius: 7px;
  font-size: 15px;
  color: #1c2120;
  height: 3em;
  width: 14em;
  background-color: #feb06a;
  margin-top: 3em;
  font-weight: bold;
}

.forget {
  margin-top: 2em;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.sign {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .sign-continue {
    font-size: 25px;
  }

  .login .name {
    margin-top: 25px;
  }
  .login #email {
    width: 80em;
    margin-top: 5px;
  }

  .login .password {
    margin-top: 25px;
  }

  .login #password {
    width: 80em;
    margin-top: 5px;
  }

  .log-in {
    width: 60em;
  }

  .forget {
    font-size: 25px;
  }
}
