/* div.headLogin {
  margin-top: 5vh;
  height: 10vh;
  width: 100vw;
  background-color: #FF9000 ;
}

form.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: cyan;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  font-size: x-large;
}

form.login label {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

form.login label input,
form.login button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: inherit;
  text-align: center;
}

form.login button {
  cursor: pointer;
  background-color: rgb(0, 203, 14);
  border: none;
  transition: box-shadow 0.2s, transform 0.2s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px 5px 5px rgba(0, 0, 0, 0.2);
}

form.login button:hover {
  transform: scale(1.1);
  transition: box-shadow 0.5s, transform 0.5s;
} */

.login {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 3em;
}

h2 {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.sign-continue {
  color: rgb(255, 255, 255);
  font-size: 13px;
  margin-top: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  gap: 0.4em;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  align-items: flex-start;
}

#name {
  border: solid #717574;
  border-radius: 16px;
  height: 3em;
  width: 17em;
  background-color: #717574;
  color: white;
}

#name ::placeholder {
  color: #feb06a;
  padding-left: 15px;
  font-size: large;
}

.password {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  gap: 0.4em;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  align-items: flex-start;
}

#password {
  border: solid #717574;
  border-radius: 16px;
  height: 3em;
  width: 17em;
  background-color: #717574;
  color: white;
}

#password ::placeholder {
  color: #feb06a;
  padding-left: 15px;
  font-size: large;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.log-in {
  font-family: Arial, Helvetica, sans-serif;
  border: solid #feb06a;
  border-radius: 7px;
  font-size: 15px;
  color: #1c2120;
  height: 3em;
  width: 14em;
  background-color: #feb06a;
  margin-top: 3em;
  font-weight: bold;
}

.forget {
  margin-top: 2em;
  color: rgb(255, 255, 255);
}

.sign {
  margin-top: 12px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* .form label {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .form button:hover {
  transition: 0.3s ease-in-out;
  background-color: black;
  color: white;
} */
