.container-vehicle {
  margin: 1em;
}

.container-left {
  background-color: #feb06a;
  height: 18em;
  padding: 1em;
  border-radius: 20px;
}

.container-left-picture {
}

.picture-vehicle {
  background-image: url("https://www.challenges.fr/assets/img/2018/08/27/cover-r4x3w1000-5b84072224873-pbc18-conference-09-jpg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 10em;
}

.container-left-title {
}

.title-vehicle {
  font-weight: bold;
  font-size: 20px;
}

.container-rigth {
}
