.page-map {
  background-color: black;
  margin-bottom: 20vh;
}

.form-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-map {
  color: white;
  padding: 1rem;
  line-height: 2;
}

.para-map {
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 5vw;
}

.picture-map {
  margin-top: 5rem;
  height: 17rem;
  line-height: 1;
  padding: 1rem;
  font-size: 5vw;
}

#map {
  width: 90vw;
  height: 50vh;
  background: #d6d6d6;
}

@media (min-width: 501px) {
  .para-map {
    font-size: 1rem;
  }
}
