.page-map {
  background-color: black;
}

.form-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-map {
  color: white;
}

.para-map {
  margin-top: 15px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.picture-map {
  margin-top: 5rem;
  height: 17rem;
}

#map {
  width: 100%;
  height: 400px;
  background: #d6d6d6;
}
